<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

{% include head.html %}

<body>

<header id="top">
	<div class="wrapper">
		<img class="header-SiteHeader_HeadShot" src="https://pbs.twimg.com/profile_images/378800000146282949/dfd7e1f0f355699655f02b2bd09702f5.jpeg" alt="My current twitter avatar"/>
		<h1 class="header-SiteHeader">zaccary price</h1>
		  <span class="header-SiteBlurb">
			  Maecenas volutpat molestie condimentum. Proin in
			  orci non odio euismod tincidunt pellentesque a urna.
		  </span>
	</div>

	<div class="wrapper">
		<nav class="header-SiteNav">
			<a class="header-SiteNav_Link" href="https://twitter.com/wildtangoweb">@wildtangoweb</a>
		</nav>
	</div>
</header>

{{ content }}


</body>
</html>
