---
layout: default
---

<section class="posts">
	<div class="wrapper">
		<article class="posts-Post">
			<header class="posts-PostHeader">
				<h1 class="posts-PostHeader_Title">
					{{ page.title }}
				</h1>

				<span class="posts-PostHeader_Date">{{ page.date | date_to_string }}</span>
			</header>
			<div class="posts-Post_Content">
				{{ content }}
			</div>
		</article>

		<div class="related">
		  <h2 class="related-Title">Related Posts</h2>
		  <ul class="related-PostList">
			{% for post in site.related_posts limit:3 %}
			  <li class="related-PostList_Item">
				<small class="related-PostList_Item-date">{{ post.date | date_to_string }}</small>
				<h3 class="related-PostList_Item-title">
				  <a href="{{ post.url }}">
					{{ post.title }}
				  </a>
				</h3>
			  </li>
			{% endfor %}
		  </ul>
		</div>
	</div>
</section>