.header {
	color: inherit;
	&-SiteHeader {
		margin: 3.2rem 0;
		font-size: 2em;
		font-weight: 400;
		color: $red;
		text-align: center;
		text-transform: capitalize;

		a {
			color: inherit;
			&:hover {
				border: none;
			}
		}

		&_HeadShot {
			display: block;
			max-width: 128px;
			margin: 4em auto 0;
			border: 6px solid #dfdfdf;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
		}
	}

	&-SiteBlurb {
		display: block;
		max-width: 33em;
		margin: 0 auto;
		font-size: 1.15em;
		color: $muted;
		text-align: center;
	}

	&-SiteNav {
		margin: 3.2rem 0 0;
		font-size: 1.15em;
		text-align: center;

		&_Link {
			color: $black;
		}
	}
}