html {
	font-size: 8px;
}

@media screen and (min-width: 60em) {
	html {
		font-size: 10px;
	}
}

body {
	font: 400 1.6rem/1.5 'Droid Sans';
	color: $black;
}

a,
a:link,
a:visited {
	color: $blue;
	text-decoration: none;
}

a:hover,
a:active,
a:focus {
	border-bottom: 1px solid rgba($blue, 0.5);
}

.highlight {
	background-color: $codeBackground;
	color: $codeText;
	border: 1px solid #2d6472;

	padding: 1em;
	overflow-x: scroll;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

p > code {
	display: inline-block;
	padding: 0 0.25em;
	background: $codeBackground;
	color: $codeText;
}